
.messages-list-container {
    display: flex; 
    flex-direction: column; 
    padding: 10px;
    height: calc(100vh - 120px); 
    overflow-y: auto; 
    background-color: #f0f2f5; 
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
}

.messages-list-container .my-message,
.messages-list-container .other-message {
    margin-left: 10px; 
    margin-right: 10px;
}

.message-container button {
    flex-shrink: 0; 
}